<app-header></app-header>
<main class="containerInfoArticulo">
  <div class="imagenContainer">
    <app-bt-atras></app-bt-atras>

    <img src="../../../assets/images/vistaverprenda.svg" alt="" />
  </div>
  <div class="datosContainer">
    <div class="nombrePrecio">
      <h1>Chaqueta</h1>
      <h2>15.99</h2>
    </div>
    <div class="boton">
      <button>Añadir al carrito</button>
    </div>

    <div class="datos">
      <div class="columnas">
        <div class="cajaDato">
         <div class="raya">
         </div>
         <p>Estado: Nuevo</p>
        </div>
        <div class="marca">
          <p>Marca: Mango</p>
        </div>
      </div>

      <div class="columnas">
        <div class="colorTalla">
          <p>Color:Blanco</p>
          <p>Talla:M</p>
        </div>
        <div class="materialTemporada">
          <p>Material:Lana</p>
          <p>Temporada:Otoño</p>
        </div>
      </div>

      <div class="descripcion">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
        voluptas est necessitatibus quos optio quod illo vitae animi laborum vel
        soluta, velit voluptates, praesentium qui temporibus dolor atque! Quae,
        voluptas!
      </div>
      <div class="columnas">
        <div class="vendidopor">
          <p>Vendido por:</p>
          <p>usuario123</p>
        </div>
        <div class="enventa">
          <p>En venta desde:</p>
          <p>9/12/2024</p>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
