<main>
    <div class="vertical contenedorPrincipal">
        <app-bt-atras></app-bt-atras>
        <div class="container-fluid vertical contenedorInformacion">
            <h2 class="txtTituloPag">Nuevo artículo</h2>
            <div class="contenedorNuevoArt vertical centrado">
                <form> <!--(ngSubmit)="actualizarCategoria()" -->
                    <div class="pregCategoria vertical divContenido" >
                        <h3>¿Qué clase de artículo deseas guardar?</h3>
                        <div class="botonesEleccion horizontal">
                            <div class="ropa vertical centrado">
                                <app-bt-ropa [svgContent] = "svgCamisa" (click)=seleccionadoRopa()></app-bt-ropa>
                                <p class="txtBt">Ropa</p>
                            </div>
                            <div class="ropa vertical centrado">
                                <app-bt-ropa [svgContent] = "svgZapatos"></app-bt-ropa>
                                <p class="txtBt">Zapatos</p>
                            </div>
                            <div class="ropa vertical centrado">
                                <app-bt-ropa [svgContent]="svgBolso" (selectionChange)=seleccionadoComplementos()></app-bt-ropa>
                                <p class="txtBt">Complementos</p>
                            </div>
                        </div>
                    </div>
                    <!-- Tipo según la categoria-->
                    <div class="pregTipo vertical divContenido" *ngIf="eleccionRopa" > <!-- ROPA-->
                        <h3>¿Qué clase de ropa deseas guardar?</h3>
                        <div class="botonesEleccion horizontal">
                            <div class="camisa vertical centrado">
                                <app-bt-ropa [svgContent] = "svgCamisa">
                                </app-bt-ropa>
                                <p class="txtBt">Camisa</p>
                            </div>
                            <div class="falda vertical centrado">
                                <app-bt-ropa [svgContent] = "svgFalda">
                                </app-bt-ropa>
                                <p class="txtBt">Falda</p>
                            </div>
                            <div class="pantalon vertical centrado">
                                <app-bt-ropa  [svgContent]="svgPantalon"></app-bt-ropa>
                                <p class="txtBt">Pantalón</p>
                            </div>
                            <div class="chaqueta vertical centrado">
                                <app-bt-ropa  [svgContent]="svgChaqueta"></app-bt-ropa>
                                <p class="txtBt">Chaqueta</p>
                            </div>
                            <div class="vestido vertical centrado">
                                <app-bt-ropa  [svgContent]="svgVestido"></app-bt-ropa>
                                <p class="txtBt">Vestido</p>
                            </div>
                            <div class="sudadera vertical centrado">
                                <app-bt-ropa  [svgContent]="svgSudadera"></app-bt-ropa>
                                <p class="txtBt">Sudadera</p>
                            </div>
                            <div class="ropaBaño vertical centrado">
                                <app-bt-ropa  [svgContent]="svgRopaBanyo"></app-bt-ropa>
                                <p class="txtBt">Ropa de baño</p>
                            </div>
                            <div class="jersey vertical centrado">
                                <app-bt-ropa  [svgContent]="svgJersey"></app-bt-ropa>
                                <p class="txtBt">Jersey</p>
                            </div>
                        </div>
                    </div>

                    <!-- GÉNERO-->
                    <div class="pregCategoria vertical divContenido">
                        <h3>¿En qué género clasificarías esta prenda?</h3>
                        <div class="botonesEleccion horizontal">
                            <div class="mujer vertical centrado">
                                <app-bt-ropa></app-bt-ropa>
                                <p class="txtBt">Mujer</p>
                            </div>
                            <div class="hombre vertical centrado">
                                <app-bt-ropa></app-bt-ropa>
                                <p class="txtBt">Hombre</p>
                            </div>
                        </div>
                    </div>

                    <!--INPUTS DEL ARTIUCLO-->
                    <div class="pregsInputs vertical divContenido "> 
                        <h3>¿Cómo es tu artículo?</h3>
                        <div class="horizontal botonesEleccion">
                            <div class="atributos">
                                <h4 class="txtSubtituloInputs">Talla:</h4>
                                <input type="text" name="talla" id="talla" class="form-control input" required>
                            </div>
                            <div class="atributos">
                                <h4 class="txtSubtituloInputs">Color:</h4>
                                <input type="text" name="color" id="color" class="form-control input" required>
                            </div>
                            <div class="atributos">
                                <h4 class="txtSubtituloInputs">Marca:</h4>
                                <input type="text" name="marca" id="marca" class="form-control input" required>
                            </div>
                            <div class="atributos">
                                <h4 class="txtSubtituloInputs">Temporada:</h4>
                                <input type="text" name="temporada" id="temporada" class="form-control input" required>
                            </div>
                            <div class="atributos">
                                <h4 class="txtSubtituloInputs">Material:</h4>
                                <input type="text" name="material" id="material" class="form-control input" required>
                            </div>
                            <div class="atributos">
                                <h4 class="txtSubtituloInputs">Estado:</h4>
                                <input type="text" name="estado" id="estado" class="form-control input" required>
                            </div>
                        </div>
                        <div class="divDescripcionT">
                            <div class="atributos divDescripcion vertical">
                                <h4 class="txtSubtituloInputs txtDes">Descripción:</h4>
                                <textarea name="textarea" rows="5" cols="120" id="descripcion" class="form-control"></textarea>
                              </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>


</main>