.centrado {
    display: flex;
    align-items: center;
}

.divContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    margin: 10px;
}

h3 {
    font-family: 'syne';
    font-size: 24px;
    font-weight: 600;
}

.txtBt {
    font-family: 'finlandica';
    color: var(--logo);
}
.pregsInputs{
    max-width: 1016px;
    height: auto;
    border: 1px solid var(--fondo);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 0 rgba(225, 203, 255, 0.25);
    margin-top: 70px;
}

.botonesEleccion {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    gap: 64px;
    justify-content: center;
    max-width: 900px;
}

textarea {
    width: 79%;
    height: 5%;
    border: 2px solid var(--logo);
}

textarea:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--fondo);
}


input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--fondo);
}

.atributos {
    margin: 30px;
}

.txtSubtituloInputs {
    font-family: 'variz';
    font-weight: 700;
    font-size: 20px;
}

.divDescripcionT {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100%;
}

.txtDes {
    align-self: flex-start;
}

.divDescripcion {
    text-align: start;
    width: 70%;
    /*
    display: flex;
    justify-content: start;*/
}

textarea {
    width: 100%;
    height: 120px;
    resize: none; 
}

.btInferior{
    display: flex;
    justify-content: flex-end;
    margin-right: 9.5%;
    margin-bottom: 3%;
    margin-top: 1%;
    max-width: 1016px;
}


/*SUBIR FOTO */

.divPregSubirImagen {
    max-width: 1016px;
    max-height: 513px;
    border: 1px solid var(--fondo);
    border-radius: 20px;
    box-shadow: 3px 3px 4px 0 rgba(225, 203, 255, 0.25);
    margin-top: 70px;
    margin-bottom: 70px;
}

.divSubirFoto {
    margin: 50px;
    border: 2px dashed var(--logo);
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    min-width: 351px;
    min-height: 392px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFCFF;
}

.btSubirImagen {
    width: 170px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: 'syne';
    font-weight: 600;
    color: var(--logo);
    padding: 10px 10px 10px 10px;
    background-color: var(--masclaro);
    border:2px solid var(--logo);
    border-radius: 10px;
}

.btSubirImagen:hover {
    background-color: var(--fondo);
}

#inputImagen{
    display: none;
}

#preview {
    display: block;
    margin: 1rem auto 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}