<div class="container">
    <div class=" flex justify-center">
        <p-select [options]="prendasSel" [(ngModel)]="prendaSeleccionada" optionLabel="ropa"
          placeholder="Seleccionar artículo" class="w-full md:w-56" 
          (onClick)="onPrendaChange($event)" />
    </div>
    <div class=" flex items-center gap-2 flex-wrap">
        <div id="ropa" class="contenedor-ropa">
            <p-chip label="Pantalón" />
            <p-chip label="Camisa" />
            <p-chip label="Chaqueta" />
            <p-chip label="Sudadera" /> <!-- [removable]="true"-->
            <p-chip label="Falda" />
            <p-chip label="Jersey" />
            <p-chip label="Vestido" />
            <p-chip label="Baño" />
        </div>

        <div id="zapatos" class="contenedor-zapatos">
            
        </div>

        <div id="complementos" class="contenedor-complementos">
            <p-chip label="Cinturones" />
            <p-chip label="Corbatas" />
            <p-chip label="Gorra" />
            <p-chip label="Bufanda" />
            <p-chip label="Guantes" />
        </div>
    </div>
</div>