div {
    margin: 2em;
}

.container{
    display: flex;
    align-items: center;
}

p-select {
    width: 216px;
    height: 40px;
    border: var(--logo) 3px solid;
    border-radius: 5px;
}

p-label{
    text-align: center;
}

p-chip {
    background-color: white;
    border: 3px solid var(--logo);
    display: flex;
    justify-content: center;
    color: var(--logo);
    font-size: 1em;
    font-weight: bold;
    width: 95px;
    height: 40px;
    min-width: 100px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}

p-chip.selected {
    background-color: var(--logo);
    color: white;
}

.contenedor-ropa{
    display: flex;
    gap: 1em;
}

.contenedor-zapatos{
    display: flex;
    gap: 1em;
}

.contenedor-complementos{
    display: flex;
    gap: 1em;
}
