<div class="container">
    <div class="flex justify-center contenedor-complementos">
        <p-select [options]="prendasSel" [(ngModel)]="prendaSeleccionada" optionLabel="ropa"
          placeholder="Seleccionar artículo" class="w-full md:w-56" 
          (onChange)="onPrendaChange($event)"
        />
    </div>
    <div class="flex items-center gap-2 flex-wrap">
        <div *ngIf="mostrarDiv === 'Ropa'" class="contenedor-ropa"> 
            <p-chip 
                *ngFor="let chip of chipsRopa" label="{{chip}}" 
                (click)="chipSeleccionadoFunc(chip)" 
                [ngClass]="{'seleccionadoCss' : funcSeleccionado(chip)}">
            </p-chip>           
        </div>

        <div id="zapatos" *ngIf="mostrarDiv === 'Zapatos'" class="contenedor-zapatos">
            <p-chip id="escondido1" label=""></p-chip>
        </div>

        <div id="complementos" *ngIf="mostrarDiv === 'Complementos'" class="contenedor-complementos">
            <p-chip 
                *ngFor="let chip of chipsComplementos" label="{{chip}}" 
                (click)="chipSeleccionadoFunc(chip)" 
                [ngClass]="{'seleccionadoCss' : funcSeleccionado(chip)}">
            </p-chip>  
        </div>
    </div>
</div>