.custom-footer {
            background-color: #e8dcfc; 
            color: #5f2db6;
            padding: 10px 0;
            text-align: center;
            font-size: 16px;
            font-family:"syne";
            font-weight: 500;
        }
        .custom-footer a {
            color: #5f2db6;
            text-decoration: none;
        }
        .custom-footer a:hover {
            text-decoration: underline;
        }
