<header class="p-0 m-0">
  <app-header></app-header>
</header>
<main>


  <div class="container-fluid">
    <div class="row h-100">
        <!-- Columna izquierda (Imagen) -->
        <div class="col-md-6 left-col d-none d-md-block"></div>

        <!-- Columna derecha (Formulario) -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="right-col">
                <h2 class="text-center form-title">Inspírate</h2>
                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre usuario</label>
                        <input type="text" class="form-control" id="username" placeholder="Nombre usuario">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        <div class="text-end">
                            <a href="#" class="small">He olvidado mi contraseña</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                </form>
                <p class="text-center mt-3">
                    Si no estás registrad, puedes hacerlo
                    <a href="#" class="register-link">aquí</a>
                </p>
            </div>
        </div>
    </div>
</div>




</main>
<footer>
  <app-footer></app-footer>
</footer>
