* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--fondo);
  height: 100vh;
}

.imgVertical {
  background: url("../../../assets/images/pruebarecorte.png") no-repeat center
    center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.imghorizontal {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#imgRopa {
  background: url("../../../assets/images/ropa.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#imgAccesorios {
  background: url("../../../assets/images/accesorios.png") no-repeat center
    center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.textoIndex {
  font-family: "syne";
  font-size: 3em;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: -3em;
}

.textoIndexCentrado {
  font-family: "syne";
  font-size: 4em;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  font-family: "syne";
  font-weight: bold;
  font-size: 28px;
  border: none;
  background-color: var(--logo);
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* Media Query para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 768px) {
  button {
    font-family: "syne";
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: var(--logo);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .textoIndexCentrado {
    font-size: 1.25em;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .textoIndex {
    font-family: "syne";
    font-size: 1.25em;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

/* Media Query para pantallas muy pequeñas (por ejemplo, menos de 480px) */
@media (max-width: 480px) {
  .textoIndexCentrado {
    font-size: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  button {
    font-family: "syne";
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: var(--logo);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .textoIndex {
    font-family: "syne";
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
