<main class="contenedorPrincipal ">
  <div class="contImgVertical">
    <div class="contenedorImg imgVertical">
      <!-- <img src="assets/images/pruebarecorte.png" alt="" /> -->
      <div class="textoIndex">
        <p>Inspírate</p>
        <p>Combina</p>
        <p>Comparte</p>
      </div>
      <button [routerLink]="['/registroPasos']" routerLinkActive="router-link-active" >Descubre tu armario</button>
    </div>
  </div>

  <div class="imghorizontal">
    <div id="imgRopa"  [routerLink]="['/verprenda']" routerLinkActive="router-link-active">
      <!-- <img src="assets/images/ropa.png" /> -->
      <div class="textoIndexCentrado"   >
        <p>Ropa</p>
      </div>
    </div>
    <div id="imgAccesorios"  [routerLink]="['/verprenda']" routerLinkActive="router-link-active">
      <!-- <img src="assets/images/accesorios.png" /> -->
      <div class="textoIndexCentrado" >
        <p>Accesorios</p>
      </div>
    </div>
  </div>
</main>
