<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar custom-header">
        <div class="container-fluid">
            <button class="navbar-toggler text-white border-0" type="button">
                <span class="bi bi-justify me-3"></span>
            </button>
            <div>
                <i class="bi bi-search me-3"></i>
            </div>
            <a class="navbar-brand mx-auto" id="navbar-brand" href="#"></a>
            <div>
                <i class="bi bi-bag nav-icon me-3"></i>
                <i class="bi bi-person nav-icon me-3"></i>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</body>

</html>