<div>
  <ul>
    <hr />
    <h1>USUARIOS</h1>
    <li *ngFor="let u of usuarios">
      <p>Id: {{ u.id }}</p>
      <p>Nombre: {{ u.nombre }}</p>
      <p>Apellidos: {{ u.apellidos }}</p>
      <p>Email: {{ u.email }}</p>
      <p>Fecha Nacimiento: {{ u.fechaNacimiento }}</p>
      <p>Nombre Usuario: {{ u.nombreUsuario }}</p>
      <p>Telefono: {{ u.telefono }}</p>
      <p>Imagen: {{ u.imagen }}</p>
      <p>Activo: {{ u.activo }}</p>
      <p>Plan: {{ u.plan }}</p>
      <p>Rol: {{ u.rol }}</p>
    </li>
  </ul>
</div>
