<!--

<header class="p-0 m-0">
    <app-header></app-header>
</header>

-->

<main>
    <div class="vertical contenedorPrincipal">
        <app-bt-atras></app-bt-atras>
        <div class="container-fluid vertical contenedorInformacion">
            <h2 class="tituloPagina">Editar la contraseña del usuario</h2>
        </div>
        <div class="container mt-12">
            <div class="col-12">
                <div class="col-lg-12">
                    <!--[formGroup]="formulario"-->
                    <form  [formGroup]="formulario">
                        <div class="row g-12">
                            <div class="col-md-4">
                                <label for="password" class="form-label">Antigua contraseña</label>
                                <input type="password" id="password" class="form-control input"
                                    formControlName="password" >
                            </div>
                            <div class="col-md-4">
                                <label for="password" class="form-label">Nueva contraseña</label>
                                <input type="password" id="password" class="form-control input"
                                    formControlName="password" >
                            </div>
                            <div class="col-md-4">
                                <label for="password" class="form-label">Repita la nueva contraseña</label>
                                <input type="password" id="password" class="form-control input"
                                    formControlName="password">
                            </div>
                            <div class="btInferior horizontal">
                                <button type="submit" class="btTextoUnaImagen horizontal btActualizar">
                                    Actualizar contraseña
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#FFFFFF">
                                        <path
                                            d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
                                    </svg>

                                </button>
                            </div> 
                            <!--
                            <div class="col-md-6">
                                <label for="apellidos" class="form-label">Apellidos:</label>
                                <input type="text" id="apellidos" class="form-control input" formControlName="apellidos"
                                readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                                <input type="date" id="fechaNacimiento" class="form-control input"
                                    formControlName="fechaNacimiento" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" id="email" class="form-control input" formControlName="email"
                                readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="telefono" class="form-label">Número de teléfono:</label>
                                <input type="tel" id="telefono" class="form-control input" formControlName="telefono"
                                readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="nombreUsuario" class="form-label">Usuario:</label>
                                <input type="text" id="nombreUsuario" class="form-control input"
                                    formControlName="nombreUsuario" readonly>
                            </div>
                            -->
                        </div>
                    </form>
                </div>
                <!--
                <div class="col-lg-4 g-3 text-center">
                    <div class="contenedor-img">
                        <img [src]="imagenUrl" alt="Foto del cliente" class="img-fluid">
                    </div>
                    <div class="col-md-12 mt-3">
                        <label for="premium" class="form-label">Premium:</label>
                        <input type="text" id="premium" class="form-control input" formControlName="premium" readonly>
                    </div>
                </div>
                -->
            </div>
        </div>
        <br>
    </div>
</main>


<!--

<footer>
    <app-footer></app-footer>
</footer>

<header class="p-0 m-0">
    <app-header></app-header>
</header>
<main>
    <div class="vertical contenedorPrincipal">
        <app-bt-atras></app-bt-atras>
        <div class="container-fluid vertical contenedorInformacion">
            <h2 class="txtTituloPag">Ver perfil del cliente</h2>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <form>
                        <div class="row g-5">
                            <div class="col-md-6">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" id="nombre" class="form-control input" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="apellidos" class="form-label">Apellidos:</label>
                                <input type="text" id="apellidos" class="form-control input" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                                <input type="date" id="fechaNacimiento" class="form-control input" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" id="email" class="form-control input" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="telefono" class="form-label">Número de teléfono:</label>
                                <input type="tel" id="telefono" class="form-control input" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="usuario" class="form-label">Usuario:</label>
                                <input type="text" id="usuario" class="form-control input" disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="contraseña" class="form-label">Contraseña:</label>
                                <input type="password" id="contraseña" class="form-control input" disabled>
                            </div>

                            <div class="col-md-6">
                                <label for="contraseñaRep" class="form-label">Repita la contraseña:</label>
                                <input type="password" id="contraseñaRep" class="form-control input" disabled>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 g-3 text-center">
                    <div class="row">
                        <div class="col-lg-3 g-3 text-center contenedor-img">
                            <img [src]="imagenUrl" alt="Foto del cliente" class="img-fluid">
                        </div>
                    
                            <div class="col-md-6">
                                <label for="premium" class="form-label">Premium:</label>
                                <input type="text" id="premium" class="form-control input" disabled>
                            </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
    </div>
</main>
<footer>
    <app-footer></app-footer>
</footer>
-->