body {
    background-color: #f8f9fa;
}


.inspirate {
    font-family: 'syne';
    font-weight: bold;
    font-size: 3em;
    color: var(--logo);
    padding: 10%;
    text-align: center;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'syne';
    font-size: 1.5em;
    font-weight: 600;    
}


::placeholder {
    font-family: 'finlandica';
}

.fuenteVazir {
    font-family: 'vazir';
    font-size: 0.7em;
}

.olvidar{
    font-family: 'vazir';
    font-size: 0.5em;
    text-align: right;
}

.login-form {
    width: 582px;
    height: 637px;
    background: #fff;
    border: 2px solid var(--fondo);
    border-radius: 10px;
    padding: 5%;
    box-shadow: 4px 4px 10px 4px var(--fondo);
}

.login-form h1 {
    font-size: 24px;
    color: var(--botones);
    text-align: center;
}

.login-form a {
    color: var(--botones);
    text-decoration: none;
    transition: .7s;
}

.login-form a:hover {
    text-decoration: underline;
    font-size: 1.2em;
    transition: .7s;
}

.boton {
    width: 200px;
    height: 50px;
    background-color: var(--botones);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: "syne";
    font-size: 18px;
    cursor: pointer;
    transition: 0.7s;
}

.boton:hover {
    background-color: var(--fondo);
    color: var(--botones);
    border: 1px solid var(--botones);
    transition: 0.7s;
}
