h1{
  font-family: "vazir";
  font-weight: bold;
  font-size: 32px;
}
*{
    font-family: "vazir";

}
.contenedor-img{
  width: 320px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid var(--logo);
}


.input{
  height: 40px;
  width: 320px;
  border: 2px solid var(--logo);
}
  html, body {
            height: 100%;
            margin: 0;
        }
