* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "syne";
  src: url("assets/fonts/Syne-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "finlandica";
  src: url("assets/fonts/Finlandica-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*TODO PROPONER USAR MENOS FUENTES*/
@font-face {
  font-family: "vazir";
  src: url("assets/fonts/Vazirmatn-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /*Colores*/
  --logo: #9662d9;
  --fondo: rgb(225, 203, 255);
  --bordesClaros: #cda9ff;
  --masclaro: #f0e5ff;
  --fondoCajones: #f6f0ff;
  --fondoBorde: #e1cbff40;
  --fondoHoverBoton: #E4D0FF;
}

body {
  display: grid;
  grid-template-rows: auto auto auto;
}
.inputForm {
  align-self: flex-start;
  margin-left: 2em;
  input {
    width: 366px;
    height: 48px;
    border: 2px solid var(--logo);
  }
  input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--fondo);
  }
}

input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--fondo);
}


form{
  input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--fondo);
  }

}
.horizontal{
  display: flex;
  flex-direction: row;
}

.vertical{
  display: flex;
  flex-direction: column;
}

.btTextoUnaImagen{
  background-color: var(--logo);
  color: white;
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'syne';
  font-size: 14px;
  font-weight: 600;
  width: 240px;
}
.btTextoUnaImagen:hover{
  background-color: var(--fondoHoverBoton);
  border: 2px solid var(--logo);
  color: var(--logo);
  svg{
    path{
      color: var(--logo);
      fill: var(--logo);
    }
    
  }
}