.p-tieredmenu-item-link{
    font-family: 'syne';
    font-weight: 600;
    font-size: 12px;
    
    border-bottom: 1px solid var(--logo);
    
}
.p-tieredmenu {
    color: transparent !important;
    border: 1px solid transparent !important;
}

.card{
    border: none;
    max-width: 250px;
}

.bg-emphasis:hover{
    background-color: var(--logo);
}